* {	
	margin: 0px;
	padding: 0px;	
	outline: none;
	font-family: arial;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
}

::-webkit-scrollbar {
	width: 0;
}

.context {
	margin-top: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

#messages {
	top: 20vh;
	width: 50vw;
	height: 75vh;
	border: 1px solid #dddddd;
	padding: 20px;
	overflow-y: scroll;
	scrollbar-width: 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px grey;
	border-radius: 5px;
}

.wave {
	position: absolute;
	top: 0px;
	z-index: -999;
}

#sendmessage {
	background-image: linear-gradient(
		to left,
		#0099ff,
		#0074FF
	);
	border: 1px solid #dddddd;
	border-radius: 50px;
	box-shadow: 0px 0px 3px grey;
	border: 2px solid #ffffff;
}

#messageForm {
	width: 50vw;
}

#msg {
	background-color: #ffffff;
	box-shadow : 0px 0px 3px grey;
}

@media screen and (max-width: 750px){
	#messages {
		width: 90vw;
	}

	#messageForm {
		width: 90vw;
	}
}