* {	
	margin: 0px;
	padding: 0px;	
	outline: none;
	font-family: arial;
	box-sizing: border-box;
}

#messages {
	width: 100%;
	height: 50vh;
	border: 1px solid #dddddd;
	padding: 20px;
	overflow: scroll;
}

.wave {
	position: relative;
	top: 0px;
	z-index: -999;
	margin-bottom: 40px;
}

#sendmessage {
	background-image: linear-gradient(
		to left,
		#0099ff,
		#0074FF
	);
	border: 1px solid #dddddd;
}
